button {
  background-color: white;
  color: black;
  font-size: large;
  padding: 5px 15px;
}

button:hover {
  background-color: black;
  color: white;
}

th {
  background-color: black;
  color: white;
}

.gray {
  background-color: lightgray;
}

.white {
  background-color: white;
}
